html {
    font-size: 18px;
}

div {
    font-size: 72px;
}

* {
    font-family: 'Orbitron', sans-serif;
}

.red {
    color: red;
}

.big {
    font-size: 2em;
}

div ~ p {
    color: green;
}

p:hover {
    color: yellow;
}

p::before {
    content: "<";
    color: brown;
}

p::after {
    content: ">";
    color: rgba(216, 123, 8, 0.2);
}